.footer{
    background: $violet;
    height: 307px;

    .footer-title {
        text-transform: uppercase;
        justify-content: center;
        display: flex;
        padding-top: 20px;
        padding-bottom: 27px;
        margin-bottom: 23px;
        position: relative;

        img {
            height: 40px;
            
            filter: brightness(0) invert(1);
            -webkit-filter : brightness(0) invert(1);

            &:hover {
                background: $white;
                color:$violet;
                transition: .3s;
                cursor: pointer;
                border-radius: 50%;
            }
        }

        &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: calc(50% - 25px);
            width: 50px;
            height: 2px;
            background-color: $white; 
        }
    }

    .footer-text{
    color: $white;
    font-size: 12px;
    text-align: center;
    }
}
